# =========================================
# LARAVEL PADRÃO
# =========================================

/vendor/
/node_modules/

/.env
/.env.*
!.env.example

/public/storage
/storage/*.key
/storage/app/public/*
/storage/logs/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/debugbar/*

/bootstrap/cache/*.php

# =========================================
# FERRAMENTAS PHP (Pint / PHPCS / PHPStan / PHPUnit)
# =========================================

# PHPCS
.phpcs-cache
phpcs.xml
phpcs.xml.dist

# PHPStan
phpstan.neon.tmp
phpstan.neon.generated
phpstan-baseline.neon

# Pint (Laravel)
pint.json
pint.lock

# PHPUnit
.phpunit.result.cache

# Composer
composer.lock
composer.phar

# =========================================
# LOGS / TEMP
# =========================================

/storage/log
